In [99]:
import numpy as np
import pandas as pd

In [100]:
data = pd.read_csv("experiment.csv")
data.head(1)

   Unnamed: 0  control  test
0           1        0     0

In [101]:
n1 = len(data.iloc[:,0])
n1

1000

In [102]:
p1 = len(data[data.control == 1]) / n1
se1 = np.sqrt(p1*(1-p1) / n1)

In [103]:
p2 = sum(data.test) / n1
se2 = np.sqrt(p2*(1-p2) / n1)

In [104]:
import scipy.stats as st

In [105]:
ci1 = st.norm.interval(0.9, loc=p1, scale=se1)

ci1

(0.4380600794294326, 0.4899399205705674)

In [106]:
ci2 = st.norm.interval(0.9, loc=p2, scale=se2)
ci2

(0.5513028270740822, 0.6026971729259177)

In [107]:
np.mean(ci1)

0.46399999999999997

In [108]:
np.mean(ci2)

0.577