### Модуль plotly 2. Домашнее задание

Все графики должны быть построены с помощью **plotly.express**.

#### 1. Анализ акций Tesla

Скачайте **yahoo-finance** и библиотеку **pandas_datareader** для загрузки данных.

In [1]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in /usr/local/lib/python3.10/dist-packages (0.10.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from pandas_datareader) (4.9.4)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.10/dist-packages (from pandas_datareader) (1.5.3)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.10/dist-packages (from pandas_datareader) (2.31.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas_datareader) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas_datareader) (1.25.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas_datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas_datareader) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas_datareader) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas_datareader) (2024.2.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)

In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.8/dist-packages (0.2.3)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.8/dist-packages (from yfinance) (39.0.0)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.3.4)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.28.2)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.11.1)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.8/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [ ]:
import plotly.express as px
from datetime import datetime
import pandas_datareader.data as pdr
import pandas as pd
import yfinance as yf
yf.pdr_override()

In [ ]:
# startdate = datetime(2020,1,1)
# enddate = datetime(2020,12,21)
startdate = '2020-1-1'
enddate = '2020-2-1'
data = pdr.get_data_yahoo(['TSLA'], start=startdate, end=enddate)
data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  28.299999  28.713333  28.114000  28.684000  28.684000  142981500
2020-01-03  29.366667  30.266666  29.128000  29.534000  29.534000  266677500
2020-01-06  29.364668  30.104000  29.333332  30.102667  30.102667  151995000
2020-01-07  30.760000  31.441999  30.224001  31.270666  31.270666  268231500
2020-01-08  31.580000  33.232666  31.215334  32.809334  32.809334  467164500

**1.a.** Постройте две линии на одном графике: изменение самой высокой цены High и самой низкой Low в течение 2020 года.

Напишите месяц, в котором самая высокая цена акции за день впервые превысила 350 долларов за штуку.

**Ваш ответ:**

**1.b.** Постройте следующий график:

- процентое изменение цены за акцию Tesla за день по отношению к цене на открытии торгов.

На оси **x** должны быть отмечены даты из data.index. Значения оси **y** должны отражать, на сколько процентов увеличилась (положительное число) или на сколько процентов упала (отрицательное число) цена акции на закрытии Close по сравнению с ценой открытия Open.

В какой день наблюдалось самое резкое понижение цены за акцию? А самое большое повышение? На сколько процентов?

*Подсказка: создайте новую колонку Diff, в которой посчитайте изменение акции за день в процентах*

**Ваш ответ:**

**1.с.** С помощью **pandas** преобразуйте индекс датасета в формат «год-месяц» и сгруппируйте данные так, чтобы новому индексу соответствовали средние значения по колонкам в указанном месяце и годе.

Напишите месяц, когда объем акций впервые превысил 60M. Какая средняя цена акции на закрытии торгов соответствует этому месяцу?

*Подсказка: используйте параметр hover_data.*

**Ваш ответ:**

#### 2. Анализ продаж мобильных телефонов

В этой части будем анализировать данные из соревнования Mobile Price Classification на Kaggle:

*battery_power: Total energy a battery can store in one time measured in mAh*

*dual_sim: Has dual sim support or not*

*fc: Front Camera mega pixels*

*four_g: Has 4G or not*

*int_memory: Internal Memory in Gigabytes*

*mobile_wt: Weight of mobile phone*

*n_cores: Number of cores of processor*

*pc: Primary Camera mega pixels*

*ram: Random Access Memory in Mega Bytes*

*sc_h: Screen Height of mobile in cm*

*sc_w: Screen Width of mobile in cm*

*talk_time: longest time that a single battery charge will last when you are*

*price_range: This is the target variable with value of 0(low cost), 1(medium cost), 2(high cost) and 3(very high cost).*

In [ ]:
data = pd.read_csv('mobile_data.csv')

In [ ]:
data.head()

,battery_power,dual_sim,fc,four_g,int_memory,mobile_wt,n_cores,pc,ram,sc_h,sc_w,talk_time,price_range
0,1954,1,0,0,24,187,4,0,700,16,3,5,0
1,1520,0,5,1,33,177,8,18,3826,14,9,13,3
2,775,0,3,0,46,159,2,16,568,17,15,11,0
3,961,1,0,1,57,114,8,3,2782,18,9,7,2
4,1453,1,12,1,52,96,2,18,2373,10,1,10,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,674,1,1,0,21,198,3,4,1180,6,3,4,0
397,1467,0,0,0,18,122,5,0,3962,15,11,5,3
398,1965,1,0,0,39,187,4,3,2032,11,10,16,2
399,1512,0,4,1,46,145,5,5,869,18,10,19,0
400,510,1,5,1,45,168,6,16,3919,19,4,2,3

**1.a.** Загрузите данные. Постройте график scatter зависимости параметра ram от battery_power. С помощью одного графика ответьте на следующие вопросы:

- Существует ли зависимость ram от мощности батареи battery power?
- Правда ли, что чем больше значение battery_power, тем дороже будет стоить телефон?
- Верно ли предыдущее утверждение для параметра ram?
- Проверьте гипотезу, что у телефона с мощной батареей и большим значением ram время разговора (talk_time) тоже увеличено.

*Подсказка: переведите значения price_range в строки для того, чтобы легенда корректно отображалась;
используйте параметры color, size*.

**Ваш ответ:**

**2.b.** Изучите параметр **facet_col** и постройте зависимость памяти ram от количества мегапикселей камеры pc. У вас должно получиться четыре графика в зависимости от значения price_range.